<a href="https://colab.research.google.com/github/gurrapurajkumar99/pythonfordatascience_1782_b12/blob/main/lab4_1782.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Create sample data
data = {
    "Student_ID": [1, 2, 3, 4, 5],
    "Name": ["Asha", "Raj", "Kiran", "Deepa", "Manoj"],
    "Math": [80, 90, None, 60, 95],
    "Science": [85, None, 70, 78, 92],
    "English": [88, 76, 85, None, 90]
}

# Save to CSV
df = pd.DataFrame(data)
df.to_csv("student_scores.csv", index=False)

print("Sample student_scores.csv created successfully ✅")
print(df)

Sample student_scores.csv created successfully ✅
   Student_ID   Name  Math  Science  English
0           1   Asha  80.0     85.0     88.0
1           2    Raj  90.0      NaN     76.0
2           3  Kiran   NaN     70.0     85.0
3           4  Deepa  60.0     78.0      NaN
4           5  Manoj  95.0     92.0     90.0

Please upload the `student_scores.csv` file using the following cell:

In [12]:
import pandas as pd

# Load dataset with the correct name
patients = pd.read_csv("/content/patients (1).csv")

# Display original data
print("Original Data:\n", patients)

# Replace missing Age with median
patients['Age'].fillna(patients['Age'].median(), inplace=True)

print("\nData After Filling Missing Age:\n", patients)

# Filter female patients above 50 with Diabetes diagnosis
elderly_females_diabetes = patients[
    (patients['Gender'].str.lower() == 'female') &
    (patients['Age'] > 50) &
    (patients['Diagnosis'].str.lower() == 'diabetes')
]

print("\nElderly Female Patients with Diabetes:\n", elderly_females_diabetes)

Original Data:
    Patient_ID    Name   Age  Gender     Diagnosis Admission_Date
0         101   Alice  65.0  Female      Diabetes     2025-08-01
1         102     Bob  45.0    Male  Hypertension     2025-07-15
2         103   Clara   NaN  Female      Diabetes     2025-06-10
3         104   David  72.0    Male        Asthma     2025-08-12
4         105     Eva  54.0  Female      Diabetes     2025-07-20
5         106  Fatima   NaN  Female      Diabetes     2025-08-18

Data After Filling Missing Age:
    Patient_ID    Name   Age  Gender     Diagnosis Admission_Date
0         101   Alice  65.0  Female      Diabetes     2025-08-01
1         102     Bob  45.0    Male  Hypertension     2025-07-15
2         103   Clara  59.5  Female      Diabetes     2025-06-10
3         104   David  72.0    Male        Asthma     2025-08-12
4         105     Eva  54.0  Female      Diabetes     2025-07-20
5         106  Fatima  59.5  Female      Diabetes     2025-08-18

Elderly Female Patients with Diabetes:
    Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0         101   Alice  65.0  Female  Diabetes     2025-08-01
2         103   Clara  59.5  Female  Diabetes     2025-06-10
4         105     Eva  54.0  Female  Diabetes     2025-07-20
5         106  Fatima  59.5  Female  Diabetes     2025-08-18

/tmp/ipython-input-1912991558.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patients['Age'].fillna(patients['Age'].median(), inplace=True)