<a href="https://colab.research.google.com/github/gurrapurajkumar99/pythonfordatascience_1782_b12/blob/main/lab6_1782.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data = {
    "TransactionID": [101, 102, 103, 104, 104, 105, 106, 106, 107],
    "Customer": ["Alice", "Bob", "Charlie", "David", "David",
                 "Eva", "Frank", "Frank", "Grace"],
    "Product": ["Laptop", "Phone", "Tablet", "Headphones", "Headphones",
                "Charger", "Laptop", "Laptop", "Phone"],
    "Amount": [1200, 800, 600, 150, 150, 50, 1200, 1200, 800],
    "Date": ["2025-09-01", "2025-09-02", "2025-09-02", "2025-09-03", "2025-09-03",
             "2025-09-04", "2025-09-05", "2025-09-05", "2025-09-06"]
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)
print("\nDuplicate Rows:")
print(df[df.duplicated()])

print(f"\nNumber of duplicate rows before cleaning: {df.duplicated().sum()}")

df_cleaned = df.drop_duplicates()

print(f"\nNumber of duplicate rows after cleaning: {df_cleaned.duplicated().sum()}")
print("\nCleaned Dataset:\n", df_cleaned)

Original Dataset:
    TransactionID Customer     Product  Amount        Date
0            101    Alice      Laptop    1200  2025-09-01
1            102      Bob       Phone     800  2025-09-02
2            103  Charlie      Tablet     600  2025-09-02
3            104    David  Headphones     150  2025-09-03
4            104    David  Headphones     150  2025-09-03
5            105      Eva     Charger      50  2025-09-04
6            106    Frank      Laptop    1200  2025-09-05
7            106    Frank      Laptop    1200  2025-09-05
8            107    Grace       Phone     800  2025-09-06

Duplicate Rows:
   TransactionID Customer     Product  Amount        Date
4            104    David  Headphones     150  2025-09-03
7            106    Frank      Laptop    1200  2025-09-05

Number of duplicate rows before cleaning: 2

Number of duplicate rows after cleaning: 0

Cleaned Dataset:
    TransactionID Customer     Product  Amount        Date
0            101    Alice      Laptop    1200  2025-09-01
1            102      Bob       Phone     800  2025-09-02
2            103  Charlie      Tablet     600  2025-09-02
3            104    David  Headphones     150  2025-09-03
5            105      Eva     Charger      50  2025-09-04
6            106    Frank      Laptop    1200  2025-09-05
8            107    Grace       Phone     800  2025-09-06

In [2]:
import pandas as pd


data = {
    "EmployeeID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Salary": ["50000", "60000", "55000", "70000"],   # stored as string
    "Joining_Date": ["2023-01-15", "2022-11-20", "2021-07-30", "2023-09-10"]  # string
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

print("\nOriginal Data Types:")
print(df.dtypes)



df["Salary"] = pd.to_numeric(df["Salary"])


df["Joining_Date"] = pd.to_datetime(df["Joining_Date"])


print("\nDataset After Type Conversion:\n", df)

print("\nCorrected Data Types:")
print(df.dtypes)

Original Dataset:
    EmployeeID     Name Salary Joining_Date
0           1    Alice  50000   2023-01-15
1           2      Bob  60000   2022-11-20
2           3  Charlie  55000   2021-07-30
3           4    David  70000   2023-09-10

Original Data Types:
EmployeeID       int64
Name            object
Salary          object
Joining_Date    object
dtype: object

Dataset After Type Conversion:
    EmployeeID     Name  Salary Joining_Date
0           1    Alice   50000   2023-01-15
1           2      Bob   60000   2022-11-20
2           3  Charlie   55000   2021-07-30
3           4    David   70000   2023-09-10

Corrected Data Types:
EmployeeID               int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object